.noteBox {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: 399px;
    margin: 15px;
}

.note {
    border: solid 2px #424242;
    background-color: #F5F5F5;
    margin-bottom: 20px;
    padding: 0 10px 10px 10px;
    margin-right: 0;
}

.not {
    padding: 10px;
}

.newnotebox {
    border: 1px solid pink;
    border: solid 2px #424242;
    background-color: #F5F5F5;
    margin-bottom: 20px;
    padding: 0 10px 10px 10px;
    max-width: 400px;
    min-width: 399px;
    margin: 15px;

    a {
        text-decoration: none;
        color: black;
        background: green;

        &:visited {
            color: none;
        }
    }
}

.noteItemSelected {
    border: 2px solid #424242;
    background-color: #424242;
    color: white;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
}

.noteTitle {
    margin-top: 10px;
}


.note:hover {
    color: black;
    background-color: white;
}

.addButton {
    background-color: white;
    border: 2px solid #424242;
    color: #424242;
    font-family: "arial";
    width: 175px;
    height: 56px;
    cursor: pointer;
    margin: auto;

    a {
        text-decoration: none;
        color: black;
        text-align: center;

        &:visited {
            color: none;
        }
    }
}

#folderDelete {
    display: flex;
    align-items: center;
    background-color: white;
    border: 2px solid #424242;
    color: #424242;
    font-family: "arial";
    width: 175px;
    height: 56px;
    justify-content: center;

    &:hover {
        background-color: red;
        color: white;
        cursor: pointer;
        border: 2px solid red;

    }
}