.noteBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px;
}

.note {
    border: solid 2px #424242;
    background-color: #F5F5F5;
    margin-bottom: 10px;
}

.noteTitle {
    display: flex;
    justify-content: flex-start;
    margin: 15px;
}

.noteDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    
}

.addButton {
    background-color: white;
    border: 2px solid #424242;
    color: #424242;
    font-family: "arial";
    width: 175px;
    height: 56px;
    cursor: pointer;
    justify-content: flex-start;
}

#folderDelete {
    display: flex;
    align-items: center;
    background-color: white;
    border: 2px solid #424242;
    color: #424242;
    font-family: "arial";
    width: 175px;
    height: 56px;
    justify-content: center;
}

#folderDelete:hover {
    background-color: #424242;
    color: white;
    cursor: pointer;
}