.header {
    color: black;
    border-bottom: #424242 2px solid;
    background-color: none;
    /* display: flex;
    flex-direction: center; */
    /* margin: 0 auto; */
    text-align: center;
    height: 75px;
    padding: 10px;
  }

  .header:hover {
    background-color: white;
    color: black;
  }

/* 
#headerButton {
border: none; 
background-color: #F5F5F5;
}

a:hover {
    background-color: none;
    cursor: pointer;
}

  #headerTitle:hover {
    background-color: white;
    color: black;
  }

  .header:hover {
      background-color: white;
      color: black;
  } */