.header {
  color: pink;
  border-bottom: #424242 2px solid;
  background-color: #F5F5F5;
  text-align: center;
  height: 75px;
  padding: 10px;

  &:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
}