
.folderSelect {
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.folderItem {
    border: 2px solid #424242;
    color: #424242;
    width: 175px;
    padding: 15px;
    text-align: center;
    background-color: #F5F5F5;
    margin-bottom: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
}

#linkItem {
    height: 70px;
    margin: 0 auto 25px auto;
    /* border: 2px solid red; */
}

.folderItemSelected {
    border: 2px solid #424242;
    background-color: #424242;
    width: 175px;
    padding: 15px;
    text-align: center;
    color: white;
    margin-bottom: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.folderItem:hover {
    color: white;
    background-color: #424242;
} 

.folderItem:active {
    text-decoration: none;
}

.deleteIcon {
    color: black;
}

.deleteIcon:hover {
    color: red;
}

.addFolderButton {
    background-color: #f5f5f5;
    border: 2px solid #424242;
    color: #424242;
    font-family: "arial";
    width: 175px;
    height: 56px;
    text-decoration: none;
    text-align: center;
    margin: 10px auto 0 auto;
    cursor: pointer;
}

.addFolderButton:hover {
    color: white;
    background-color: #424242;
    
}

.header {
    color: #424242;
    border-bottom: #424242 2px solid;
    background-color: #F5F5F5;
}

.mainDisplay {
    display: flex;
}
